In [1]:
import pandas as pd
import numpy as np

In [5]:
train = pd.read_csv('data/data_v5.csv')
test = pd.read_csv('data/data_v5_22_23.csv')

In [3]:
train.head()

,Unnamed: 0.1,Unnamed: 0,Year,t1_general_traditional_WIN%,t1_general_traditional_PTS,t1_general_traditional_FGM,t1_general_traditional_FG%,t1_general_traditional_3PM,t1_general_traditional_3P%,t1_general_traditional_FTM,...,t2_clutch-opponent_Opponent's Steals,t2_clutch-opponent_Opponent's Blocks,t2_clutch-opponent_Opponent's Blocked Field Goal Attempts,t2_clutch-opponent_Opponent's Personal Fouls,t2_clutch-opponent_Opponent's Personal Fouls Drawn,t2_clutch-opponent_Opponent's Points,t2_TEAM,t2_seed,t2_series_wins,outcome
0,0,0,2001,56.1,91.9,34.1,43.1,4.1,34.6,19.5,...,0.6,0.5,0.3,2.7,2.1,7.4,Miami Heat,3,0,1
1,1,1,2001,63.4,100.7,38.0,45.8,6.9,37.9,18.0,...,0.6,0.4,0.5,2.5,3.1,8.8,Orlando Magic,7,1,1
2,2,2,2001,50.0,92.6,34.5,44.0,4.8,34.2,18.8,...,0.6,0.5,0.6,3.3,2.5,8.2,Philadelphia 76ers,1,3,0
3,3,3,2001,58.5,88.7,33.6,44.4,4.8,35.1,16.8,...,0.5,0.4,0.4,2.2,2.6,7.6,Toronto Raptors,5,3,0
4,4,4,2001,64.6,100.5,37.6,45.9,6.3,38.1,18.9,...,0.5,0.2,0.3,2.9,2.2,6.9,Utah Jazz,4,2,1

In [6]:
test.head()

,Unnamed: 0,Year,t1_general_traditional_WIN%,t1_general_traditional_PTS,t1_general_traditional_FGM,t1_general_traditional_FG%,t1_general_traditional_3PM,t1_general_traditional_3P%,t1_general_traditional_FTM,t1_general_traditional_FT%,...,t2_clutch-opponent_Opponent's Assists,t2_clutch-opponent_Opponent's Turnovers,t2_clutch-opponent_Opponent's Steals,t2_clutch-opponent_Opponent's Blocks,t2_clutch-opponent_Opponent's Blocked Field Goal Attempts,t2_clutch-opponent_Opponent's Personal Fouls,t2_clutch-opponent_Opponent's Personal Fouls Drawn,t2_clutch-opponent_Opponent's Points,t2_TEAM,t2_seed
0,0,2023,52.4,117.2,42.9,48.2,10.8,34.6,20.6,77.5,...,1.7,0.8,0.4,0.3,0.2,2.4,1.6,7.6,Memphis Grizzlies,2
1,1,2023,50.0,118.4,44.6,48.3,10.8,35.2,18.5,81.8,...,1.7,1.0,0.6,0.4,0.5,2.9,2.5,9.6,Boston Celtics,2
2,2,2023,53.7,118.9,43.1,47.9,16.6,38.5,16.0,79.4,...,1.9,1.1,0.4,0.4,0.1,2.5,2.0,10.4,Sacramento Kings,3
3,3,2023,54.9,113.4,41.5,48.7,12.8,37.8,17.7,80.0,...,1.3,1.2,0.4,0.4,0.4,2.3,2.0,7.3,Philadelphia 76ers,3
4,4,2023,53.7,113.6,41.1,47.7,12.7,38.1,18.7,78.1,...,1.6,1.2,0.6,0.5,0.4,2.4,2.2,9.3,Phoenix Suns,4

In [7]:
train.drop(columns=['Unnamed: 0.1','Unnamed: 0', 'Year','t1_TEAM','t2_TEAM','t1_series_wins','t2_series_wins','outcome'],inplace=True)

In [8]:
test.drop(columns=['Unnamed: 0','Year'],inplace=True)

In [9]:
test.head()

,t1_general_traditional_WIN%,t1_general_traditional_PTS,t1_general_traditional_FGM,t1_general_traditional_FG%,t1_general_traditional_3PM,t1_general_traditional_3P%,t1_general_traditional_FTM,t1_general_traditional_FT%,t1_general_traditional_OREB,t1_general_traditional_DREB,...,t2_clutch-opponent_Opponent's Assists,t2_clutch-opponent_Opponent's Turnovers,t2_clutch-opponent_Opponent's Steals,t2_clutch-opponent_Opponent's Blocks,t2_clutch-opponent_Opponent's Blocked Field Goal Attempts,t2_clutch-opponent_Opponent's Personal Fouls,t2_clutch-opponent_Opponent's Personal Fouls Drawn,t2_clutch-opponent_Opponent's Points,t2_TEAM,t2_seed
0,52.4,117.2,42.9,48.2,10.8,34.6,20.6,77.5,10.0,35.7,...,1.7,0.8,0.4,0.3,0.2,2.4,1.6,7.6,Memphis Grizzlies,2
1,50.0,118.4,44.6,48.3,10.8,35.2,18.5,81.8,11.2,33.2,...,1.7,1.0,0.6,0.4,0.5,2.9,2.5,9.6,Boston Celtics,2
2,53.7,118.9,43.1,47.9,16.6,38.5,16.0,79.4,10.5,34.1,...,1.9,1.1,0.4,0.4,0.1,2.5,2.0,10.4,Sacramento Kings,3
3,54.9,113.4,41.5,48.7,12.8,37.8,17.7,80.0,8.2,32.3,...,1.3,1.2,0.4,0.4,0.4,2.3,2.0,7.3,Philadelphia 76ers,3
4,53.7,113.6,41.1,47.7,12.7,38.1,18.7,78.1,9.8,33.4,...,1.6,1.2,0.6,0.5,0.4,2.4,2.2,9.3,Phoenix Suns,4

In [10]:
t1 = test['t1_TEAM']
t2 = test['t2_TEAM']
test.drop(columns=['t1_TEAM','t2_TEAM'],inplace=True)

In [11]:
train.shape

(330, 218)

In [12]:
test.shape

(10, 218)

In [13]:
list(train.columns)==list(test.columns)

True

In [19]:
coef_df = pd.read_csv('data/coefs_lr.csv',header=None)
coef_df.head()

,0,1,2,3,4,5,6,7,8,9,...,208,209,210,211,212,213,214,215,216,217
0,0.109117,0.014608,0.000321,0.009349,0.010492,0.002153,0.003532,-0.018811,-0.00518,-0.000267,...,-0.002787,-0.001198,-0.000101,0.000707,0.001116,-0.00002,0.000524,0.000182,-0.00329,0.032309

In [24]:
coefs_lr = coef_df.to_numpy()[0,:]

In [25]:
int_df = pd.read_csv('data/intercept_lr.csv',header=None)
int_df.head()

          0
0  0.000002

In [30]:
intercept = int_df.iloc[0]
intercept[0]

1.6621268671171183e-06

In [31]:
def return_class(x):
    #expect np array for x
    denom = 1 + np.exp(-1*(np.dot(x,coefs_lr.reshape(-1))+intercept[0]))
    prob = 1/denom
    if prob > 0.5:
        return 1
    return 0

In [33]:
y_preds = np.zeros(test.shape[0]).reshape(-1)
test = test.to_numpy()
for i in range(test.shape[0]):
    y_preds[i] = return_class(test[i,:].reshape(-1))

In [34]:
for i in range(t1.shape[0]):
    if y_preds[i] == 1:
        print(t1.iloc[i], t2.iloc[i], sep=' beats ')
    else:
        print(t2.iloc[i], t1.iloc[i], sep=' beats ')

Memphis Grizzlies beats Los Angeles Lakers
Boston Celtics beats Atlanta Hawks
Sacramento Kings beats Golden State Warriors
Philadelphia 76ers beats Brooklyn Nets
Phoenix Suns beats LA Clippers
New York Knicks beats Cleveland Cavaliers
Denver Nuggets beats Minnesota Timberwolves
Denver Nuggets beats Oklahoma City Thunder
Milwaukee Bucks beats Miami Heat
Milwaukee Bucks beats Chicago Bulls